<section id="intro-one-section" class="home-intro-section primary-bg">
    <div class="container" fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <h1 class="home-intro-title">Top Medical Service from US for Our Chinese People</h1>
            <div class="home-intro-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque totam sint suscipit accusamus fugit quibusdam similique maxime distinctio reiciendis at.
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <button mat-raised-button mat-lg-button id="frontend-btn" (click)="getNGLanding()"><mat-icon>get_app</mat-icon> More Info</button>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="intro-product">
                <img mat-card-image src="assets/images/main.png" [style.margin]="'0 !important'">
            </div>
        </div>
    </div>
</section>
<section id="feature-section"  class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Features that you can trust upon</h2>
                <p class="lead w-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="text-center featured-section">
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">code</i>
                <h4 class="mb-2">Optimize Code</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
mobile_friendly
</i>
                <h4 class="mb-2">Mobile Friendly</h4>
                <p>At vero eos et accusamus et iusto odio dignissimos.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
system_update
</i>
                <h4 class="mb-2">Free Updates</h4>
                <p>Nam libero tempore, cum soluta nobis est.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
contact_support
</i>
                <h4 class="mb-2">Support</h4>
                <p> Temporibus autem quibusdam et aut officiis debitis aut rerum.</p>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 more_info_anim6 animated fadeInUp">
                <img src="assets/images/product.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="gap bg-grey tab-group">
    <div class="container">
         <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Ready to Use Code</h2>
                <p class="lead w-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Customization">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60">
                        <h3>Easy to Customize</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                        <ul class="icons-list">
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Quia consuuntur</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Atione volupt</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Neque porro</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Lqui dolorem </span></li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="40">

                        <div class="img-cap">
                            <div class="tab-icon">
                                <i class="material-icons">
add_comment
</i>
                            </div>
                            <img src="assets/images/iphone.png" alt="">
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Documentation">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60">
                        <h3>Doc Ready</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                        <ul class="icons-list">
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Quia consequuntur magni dolores</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Atione voluptatem sequi nesciunt</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Neque porro quisquam est</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Lqui dolorem ipsum quia dolor</span></li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                    </div>
                    <div class="img-cap">
                        <div class="tab-icon">
                            <i class="material-icons">
live_help
</i>
                        </div>
                        <img src="assets/images/iphone.png" alt="">
                    </div>


                </div>
            </mat-tab>
            <mat-tab label="Responsive">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60">
                        <h3>Smartphone Version</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
                        <ul class="icons-list">
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Quia consequuntur magni dolores</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Atione voluptatem sequi nesciunt</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Neque porro quisquam est</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>Lqui dolorem ipsum quia dolor</span></li>
                        </ul>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                    </div>

                                  <div class="img-cap">
                        <div class="tab-icon">
                            <i class="material-icons">
mobile_friendly
</i>
                        </div>
                        <img src="assets/images/iphone.png" alt="">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>