<footer class="footer-wrapper">

    <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
            <div fxFlex="33.33" class="footer-item">
                <div class="footer-logo">
                    <h2>AngLand</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, natus.</p>
                <button mat-raised-button color="accent">Contact Us</button>
            </div>
            <div fxFlex="33.33" class="footer-item">

                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">email</mat-icon>
                        <p class="text-footer"> johndoe@loremipsum.com </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                        <p class="text-footer">New Trent Bridge, 101 Path, Germany</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="33.33" class="footer-item">
                <div class="mb-1">
                    <button mat-raised-button mat-lg-button color="accent">Need Help?</button>
                </div>
                <div>
                    <button mat-raised-button mat-lg-button color="accent">BUY NOW</button>
                </div>

            </div>
        </div>
    </div>

</footer>