<div id="service-section" class="section-two gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Services</h2>
                <p class="lead w-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h6>LOREM IPSUM QYUERTY GHJSI</h6>
                        <h2>Adipisicing Esse Exerc</h2>
                    </div>
                    <div class="content-cap">
                        <p>Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla elit nisi proident. </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <img class="card-shadow" src="assets/images/service-1.jpg" alt="">
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <img class="card-shadow" src="assets/images/service-2.jpg" alt="">
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h6>NULLA CONQSETY IRUTE</h6>
                        <h2>Veniam Sit Riuy Qui</h2>
                    </div>
                    <div class="content-cap">
                        <p>Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla elit nisi proident. </p>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h6>ELIKU YUYUWD UIWRTD</h6>
                        <h2>Elit Nisi Proident</h2>
                    </div>
                    <div class="content-cap">
                        <p>Lorem ipsum Sunt adipisicing adipisicing esse exercitation consequat sed irure commodo cupidatat aute ea adipisicing consectetur nulla consequat irure consectetur veniam sit sit qui reprehenderit officia sunt nulla elit nisi proident. </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <img class="card-shadow" src="assets/images/service-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>