<section id="pricings-section" class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5 white-color">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Affordable Prices</h2>
                <p class="lead w-60"> Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Basic</strong></h1>
                            <div class="text-sm text-muted">
                                <p>$ 9.99 / year</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>
                                <p> 10GB Storage </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 10 Emails </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 10 Domains </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 1GB Bandwidth </p>
                            </mat-list-item>
                        </mat-list>
                        <button mat-raised-button class="mat-accent">Buy</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Pro</strong></h1>
                            <div class="text-sm text-muted">
                                <p> 24.99 / year</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>
                                <p> 25GB Storage </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 25 Emails </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 25 Domains </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 2GB Bandwidth </p>
                            </mat-list-item>
                        </mat-list>
                        <button mat-raised-button class="mat-accent">Buy</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Premium</strong></h1>
                            <div class="text-sm text-muted">
                                <p> $ 49.99 / year</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>
                                <p> 50GB Storage </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 50 Emails </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 50 Domains </p>
                            </mat-list-item>
                            <mat-list-item>
                                <p> 5GB Bandwidth </p>
                            </mat-list-item>
                        </mat-list>
                        <button mat-raised-button class="mat-accent">Buy</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>