.services-wrappper {
    .service-card {
        text-align: center;
        .icon-cap {
            display: inline-block;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 1rem;
            margin-bottom: 1rem;
            i {
                font-size: 3rem;
            }
        }
        padding: 2rem;
    }
    mat-card {
        margin: 1rem;
    }
}
@media(max-width:767px){
    .services-wrappper .service-card{
        padding: 1rem;
    }
}
