<header id="main-header" [ngClass]="{'header-fixed': isFixed}">
    <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
        <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
            <div class="home-logo mr-1">
                <a href="/">
                    <h2>Boston Top Med  波士顿拓扑医疗 </h2>
                </a>
            </div>
            <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
        </div>

        <div fxFlex fxLayoutAlign="end" class="top-menu">

            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="intro-one-section"><strong>首页</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="feature-section"><strong>特色</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="portfolio-section"><strong>合作</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="service-section"><strong>服务</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="testimonial-slider"><strong>流程</strong></button>
        </div>
    </div>
</header>