<section id="intro-one-section" class="home-intro-section text-center primary-bg">
    <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
        <div class="home-intro-subtitle">
            Best offer for you
        </div>
        <h1 class="home-intro-title">Best Material Design App Landing Page</h1>
        <p class="home-intro-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque totam sint suscipit accusamus fugit quibusdam similique maxime distinctio reiciendis at.</p>
        <button mat-raised-button mat-lg-button class="intro-cta"> Buy Now</button>
        <div class="intro-product">
            <img src="assets/images/main.png" alt="">
        </div>
    </div>
</section>
<div id="feature-section" class="featured-two gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Features that you can trust upon</h2>
                <p class="lead w-60">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">01.</span>
                    <div class="feature-content">
                        <h3>Fully Resposive</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">02</span>
                    <div class="feature-content">
                        <h3>Unde Omnis Iste</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">03.</span>
                    <div class="feature-content">
                        <h3>Natus Error Sit</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">04.</span>
                    <div class="feature-content">
                        <h3>Voluptatem Quia</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">05.</span>
                    <div class="feature-content">
                        <h3>Nemo Enim Ipsam</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
                <div class="feature-two">
                    <span class="feature-count accent-color">06.</span>
                    <div class="feature-content">
                        <h3>Eaque Ipsa Quae</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>