<section id="service-section" class="services-wrappper gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">我们的服务</h2>
                <p class="lead w-60"> 以人为本的多渠道服务 </p>
            </div>
        </div>

        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">picture_in_picture</mat-icon>
              <span class="tab-label">书面会诊</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                    <div class="service-card-two">
                        <div class="service-title mb-2">
                            <!-- <h6>LOREM IPSUM QYUERTY GHJSI</h6> -->
                            <h2>书面会诊</h2>
                        </div>
                        <div class="content-cap">
                            <p>我们的专家帮您整理好病历及常见问题，在几天内通过书面形式，让哈佛系统专家为您解答最棘手的问题。这是性价比最高的选择。 我们的顶尖专家会在详细的书面报告中回答您的问题。</p>
                        </div>
                    </div>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                    <img class="card-shadow" src="assets/images/service-1.jpg" alt="">
                </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">airplay</mat-icon>
              <span class="tab-label">视频会诊</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <img class="card-shadow" src="assets/images/service-2.jpg" alt="">
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h2>视频会诊</h2>
                    </div>
                    <div class="content-cap">
                        <p>我们提供简单易用的网络平台，您在任何有网络的地方都可以咨询顶尖的医生。 我们专业的医疗团队会协助您完成病历资料整理，从医生的角度并提供最适合您病情的医生。患者还将在会诊结束后收到一份中／ 英文总结报告，方便将来与中美医生共享。</p>
                    </div>
                </div>
            </div>
        </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">calendar_today</mat-icon>
              <span class="tab-label">病理会诊</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h2>病理会诊</h2>
                    </div>
                    <div class="content-cap">
                        <p>所有治疗都离不开准确的诊断，美国的病理有详细的分科，提高了诊断的准确性。 我们为您寻找各个领域的世界顶尖的病理学家为您出具病理报告。提供精准的诊断为有效的治疗提供可靠的依据。</p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                <img class="card-shadow" src="assets/images/service-3.jpg" alt="">
            </div>
        </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">perm_media</mat-icon>
              <span class="tab-label">影象学会诊</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <img class="card-shadow" src="assets/images/service-4.jpg" alt="">
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h2>影象学会诊</h2>
                    </div>
                    <div class="content-cap">
                        <p>让世界上最好的放射科医生为您的医学影像提供第二诊疗意见。放射科医生需要对专业高度熟练。通过世界顶尖放射科医生的读片，确保您的影像学报告的准确性，我们使用与医院相同的技术，进行最准确的影像资料的解读。</p>
                    </div>
                </div>
            </div>
        </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">record_voice_over</mat-icon>
              <span class="tab-label">就医服务</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h2>就医服务</h2>
                    </div>
                    <div class="content-cap">
                        <p>我们熟悉当地医疗环境，就医流程， 协助权威医院医生预约，病历翻译，签证及行前指导，当地生活指导，就医陪同及回国后与中国医生的对接。让您在美国治疗期间感觉宾至如归。</p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                <img class="card-shadow" src="assets/images/service-5.jpg" alt="">
            </div>
        </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">gesture</mat-icon>
              <span class="tab-label">基因测序</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <img class="card-shadow" src="assets/images/service-6.jpg" alt="">
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h2>基因测序</h2>
                    </div>
                    <div class="content-cap">
                        <p>基因测序的目的是获得靶向药物的治疗及遗传病的诊断，我们有在这个领域工作十年的专业人员，与美国医生推荐最多的基因测序公司合作，根据精准基因测序结果，您才能获得有针对性的治疗选择。</p>
                    </div>
                </div>
            </div>
        </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              <span class="tab-label">健康体检</span>
            </ng-template>
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40">
                <div class="service-card-two">
                    <div class="service-title mb-2">
                        <h2>健康体检</h2>
                    </div>
                    <div class="content-cap">
                        <p>家庭医生在我们国家是个新概念， 在美国历史悠久。一个好的家庭医生具有非常丰富的内、外、妇、儿科的知识，不但在您健康时发现潜在疾病因素，做到早期预防，持续保证您的健康。还能积极的为您已有的疾病寻找合适的资源。根据不同年龄，性别，职业为您提供相应的筛查，免疫及保健知识。</p>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="40" fxFlex.xl="40" style="margin-left: 20px;">
                <img class="card-shadow" src="assets/images/service-7.jpg" alt="">
            </div>
        </div>
          </mat-tab>
        </mat-tab-group>

        
    </div>
</section>