<section id="service-section" class="services-wrappper gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Our Services</h2>
                <p class="lead w-60"> Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap">
                            <i class="material-icons">
settings_phone
</i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Quasi reiciendis</h4>
                        </div>
                        <div class="content-cap">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
favorite
</i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Quasi reiciendis</h4>
                        </div>
                        <div class="content-cap">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
perm_identity
</i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Quasi reiciendis</h4>
                        </div>
                        <div class="content-cap">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
search
</i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Quasi reiciendis</h4>
                        </div>
                        <div class="content-cap">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
thumb_up
</i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Quasi reiciendis</h4>
                        </div>
                        <div class="content-cap">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="100">
                <mat-card>
                    <div class="service-card">
                        <div class="text-center icon-cap"><i class="material-icons">
visibility_off
</i>
                        </div>
                        <div class="service-title mb-2">
                            <h4>Quasi reiciendis</h4>
                        </div>
                        <div class="content-cap">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat at. </p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>