<section id="portfolio-section" class="portfolio home-section gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Our Recent Work</h2>
                <p class="lead w-60"> Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/1.jpg">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">Quasi reiciendis itaque veritatis</a></strong></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi reiciendis itaque veritatis nisi atque voluptatem, blanditiis ex illo voluptatibus consequatur at aut molestias. Alias nostrum, aut deleniti quos qui iste.
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                            <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                            <span fxFlex></span>
                            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/2.jpg">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">Consectetur adipisicing elit</a></strong></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi reiciendis itaque veritatis nisi atque voluptatem, blanditiis ex illo voluptatibus consequatur at aut molestias. Alias nostrum, aut deleniti quos qui iste.
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                            <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                            <span fxFlex></span>
                            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/3.jpg">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">Aut deleniti quos qui iste.</a></strong></h4>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi reiciendis itaque veritatis nisi atque voluptatem, blanditiis ex illo voluptatibus consequatur at aut molestias. Alias nostrum, aut deleniti quos qui iste.
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                            <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                            <span fxFlex></span>
                            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>