<section id="intro-one-section" class="home-intro-section primary-bg" style="max-height: 140px">
    <div class="container" fxLayout="row wrap">
        <!--<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">-->
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" >
                 <!--style="background-image:url(assets/images/Boston-1.jpg);-->
                 <!--background-blend-mode: lighten;-->
                 <!--background-repeat: no-repeat, repeat;"-->

            <h4 class="home-intro-title">
                <div class="text-center">您的海外医疗管家</div>
            </h4>
            <div class="home-intro-desc">
                <div style="text-align: center">
                    我们是一家专为中国客户提供跨境医疗和健康管理的咨询服务公司。
                </div>
                <div style="text-align: center">
                    总部位于美国波士顿，依托波士顿本地的优质医院资源和尖端医药技术，为您提供最顶级的医疗服务。
                </div>
            </div>
            <!--<div fxLayout="row" fxLayout.lt-sm="column">-->
                <!--<button mat-raised-button mat-lg-button id="frontend-btn" scrollTo="feature-section"><mat-icon>get_app</mat-icon>更多信息</button>-->
            <!--</div>-->
                <!--<div class="home-intro-desc" >-->
                    <!--我们是一家专为中国客户提供跨境医疗和健康管理的咨询服务公司。<br>总部位于美国波士顿，依托波士顿本地的优质医院资源和尖端医药技术，为您提供最顶级的医疗服务。-->
                <!--</div>-->
        </div>

        <!--<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" >-->
            <!--<div class="intro-product">-->
                <!--&lt;!&ndash;<img mat-card-image src="assets/images/Boston-1.jpg" [style.margin]="'0 0 50px 100px !important'">&ndash;&gt;-->
                <!--<img mat-card-image src="assets/images/Boston-1.jpg" [style.margin]="'0 0 0 0 !important'">-->
            <!--</div>-->
        <!--</div>-->

        <!--width: 400px;-->
        <!--height: 400px;-->
        <!--background-repeat: no-repeat, repeat;-->
        <!--background-image: url("img_tree.gif"), url("paper.gif");-->
        <!--background-blend-mode: lighten;-->

    </div>
</section>
<section id="feature-section"  class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">为您量身定做的一流服务</h2>
                <p class="lead w-60">我们是一个平等、开放的医患交流平台，为您配置最优质的医疗资源。 </p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="text-center featured-section">
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">thumb_up</i>
                <h4 class="mb-2">全美最一流的医院</h4>
                <p>我们的合作对象包括麻省总医院、布列根和妇女医院、波士顿儿童医院、丹娜法伯癌症研究院、哈佛大学附属眼耳科医院等美国最一流的医院</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
account_box
</i>
                <h4 class="mb-2">专业的问诊</h4>
                <p>我们从专业角度有效地了解你的病情以及在中国的处理，并为您挑选最合适的医生。我们希望我们的服务能以最快最好的方式及时治疗您的病情</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
directions_run
</i>
                <h4 class="mb-2">全程的跟踪和辅助</h4>
                <p>从最开始的病人接洽，治疗过程中的跟进，以及治疗之后的回访，我们都会提供各种病人所需要的服务，包括翻译，出行，居住，饮食和周边</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
group
</i>
                <h4 class="mb-2">丰富的经验和业界资源</h4>
                <p>我们的团队医生都是已经在合作医院中工作多年，拥有丰富经验的实力派。同时，这些医生也拥有医疗最前沿的资源。</p>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 more_info_anim6 animated fadeInUp" style="margin: 50px 20px 0 20px;">
                <img src="assets/images/product.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="gap bg-grey tab-group">
    <div class="container">
         <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">为什么选择我们？</h2>
                <p class="lead w-60">先进的医疗技术，高标准的行业规范以及全方位的服务保证了服务的质量。 </p>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="医疗技术">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60">
                        <h3>世界范围内最前沿的医疗技术</h3>
                        <br>
                        <p>美国在医疗领域的研究位居世界前沿，先进的医疗技术是保证医疗效果最重要的前提。</p>
                        <ul class="icons-list">
                            <li><i class="material-icons mdl-color-text--accent"></i><span>美国癌症5年生存率是66％，中国的是30.9％</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>病理基因检查的精准性</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>美国训练有素的专科医生，标准化的针对性治疗</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>强大科研为后盾的日新月异的新药 </span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>先进的辅助性治疗技术及对化疗药物副作用的应对 </span></li>
                        </ul>
                        <p>医疗技术是一个综合因素的体现。</p>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="40" fxFlex.sm="40">

                        <div class="img-cap">
                            <div class="tab-icon">
                                <i class="material-icons" style="font-size: 36px;">
done
</i>
                            </div>
                            <img src="assets/images/why1.png" alt="">
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="专业规范">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60">
                        <h3>高标准的专业准则和规范</h3>
                        <br>
                        <p>专业的医疗准则和规范是将医疗技术有效发挥出来的必要条件</p>
                        <ul class="icons-list">
                            <li><i class="material-icons mdl-color-text--accent"></i><span>毕业于著名的医学院</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>医院的名声决定了对医生的高要求</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>来自媒体和公众医疗机构的监督</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>医疗合规的审查</span></li>
                        </ul>
                        <p>美国强大的社会基础和医疗体系保证了这里高水平的医疗准则和规范</p>
                    </div>
                    <div class="img-cap">
                        <div class="tab-icon">
                            <i class="material-icons" style="font-size: 36px;">
done
</i>
                        </div>
                        <img src="assets/images/why2.png" alt="">
                    </div>


                </div>
            </mat-tab>
            <mat-tab label="全面的服务">
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="60">
                        <h3>我们提供的是多方位的赴美医疗服务。</h3>
                        <br>
                        <p>赴美医疗的过程并不是简单的问与答。</p>
                        <ul class="icons-list">
                            <li><i class="material-icons mdl-color-text--accent"></i><span>专业的医疗翻译</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>高效的沟通</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>专业文案的准备</span></li>
                            <li><i class="material-icons mdl-color-text--accent"></i><span>就医陪同等服务</span></li>
                        </ul>
                        <p>整个医疗过程变得更加轻松舒适，更重要的是让患者能够更好的配合医生进行治疗。</p>
                    </div>

                                  <div class="img-cap">
                        <div class="tab-icon">
                            <i class="material-icons" style="font-size: 36px;">
done
</i>
                        </div>
                        <img src="assets/images/why3.png" alt="">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>