<section id="portfolio-section" class="portfolio-section gap">
    <div class="container">
  <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Our Recent Work</h2>
                <p class="lead w-60"> Consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero reprehenderit. </p>
            </div>
        </div>
    <ngu-carousel
    [inputs]="carouselOptions">
      <ngu-item NguCarouselItem *ngFor="let p of portfolios">
          <mat-card class="p-0">
              <img mat-card-image [src]="p.photo">
              <mat-card-content>
                <h5><strong><a href="">{{p.title}}</a></strong></h5>
                <p>
                  {{p.text}}
                </p>
                <mat-divider class="mb-1"></mat-divider>   <div>
                    <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
                    <span fxFlex></span>
                    <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
                </div>
              </mat-card-content>
            </mat-card>

      </ngu-item>
      
      <button mat-fab NguCarouselPrev class='carousel-left'><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-fab NguCarouselNext class='carousel-right'><mat-icon>keyboard_arrow_right</mat-icon></button>
  </ngu-carousel>
    </div>
  </section>