<section id="testimonial-slider" class="testimonials-section gap primary-bg">
	<div class="container">
		<div fxLayout='column' class="text-center mb-5 white-color">
			<div fxFlex.gt-md="60%">
				<h2 class="title-page">赴美就诊流程</h2>
				<p class="lead w-60">以下是我们服务的基本流程，我们会按照客户的需求进行调整</p>
			</div>
		</div>
		<div fxLayout="row" fxLayoutWrap="wrap row" fxLayoutAlign="center center">
			<div fxFlex.xs="200" fxFlex.sm="200" fxFlex.md="140" fxFlex.lg="120" fxFlex.xl="200">
					<mat-card class="p-0">
						<mat-card-content class="text-center">
							<mat-horizontal-stepper #stepper>
							  <mat-step [stepControl]="formGroup">
							      <ng-template matStepLabel>沟通咨询</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>第一步: 沟通咨询</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
									    <p>
									      在与您取得联系后，我们将立即指派专员收集客户病情信息，同时介绍我们所能够提供的各项服务。
									    </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-1.jpg">
									</mat-card>
							      <br>
							      <div style="float:right;">
							        <button mat-button matStepperNext>下一步<i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							   <mat-step [stepControl]="formGroup">
							      <ng-template matStepLabel>整理病历</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>第二步：整理病历</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  在征得您的同意后，我们将指派唯一专员系统性的收集、整理并翻译您的病历，保障您的隐私。
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-2.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>上一步</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>下一步 <i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							   <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>预约专家</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>第三步：预约专家</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  在您决定赴美就医后，我们会要求医院出具医疗邀请函，医生预约信以及费用预估单。
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-4.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>上一步</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>下一步 <i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							  <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>办理签证</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>第四步：办理签证</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  我们会继续协助您办理赴美医疗签证。
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-3.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>上一步</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>下一步 <i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							  <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>赴美治疗</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>第五步：赴美治疗</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  当您抵达美国波士顿之后，我们本地服务团队会帮助您尽快融入本地生活并开始进行治疗。
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-5.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>上一步</button>
							      </div>
							      <div style="float:right;">
							        <button mat-button matStepperNext>下一步<i class="material-icons">navigate_next</i></button>
							      </div>
							  </mat-step>
							  <mat-step [stepControl]="formGroup">
							    <ng-template matStepLabel>回国随访</ng-template>
							      <mat-card class="example-card">
									  <mat-card-header>
									    <div mat-card-avatar class="example-header-image"></div>
									    <mat-card-title>第六步：回国随访</mat-card-title>
									  </mat-card-header>
									  <mat-card-content style="text-align: left;">
										  <p>
											  在治疗结束之后，我们会继续跟您保持联络，跟进您的病情。
										  </p>
									  </mat-card-content>
									  <img mat-card-image src="assets/images/workflow-6.jpg">
									</mat-card>
							      <br>
							      <div style="float:left;">
							      	<button mat-button matStepperPrevious><i class="material-icons">navigate_before</i>上一步</button>
							      </div>
							      
							  </mat-step>
							</mat-horizontal-stepper>

						</mat-card-content>
					</mat-card>
			</div>
		</div>
	</div>
</section>
